@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
:root {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/***************  FOR SIZE ************/
/* FOR USE MIXINS : 
.class { font-size :1rem; 
    @include phone-only { font-size: 0.5rem; }

***************************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 300;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body h1,
body h2,
body h3,
body span,
body main {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
@media (max-width: 599px) {
  body h1,
body h2,
body h3,
body span,
body main {
    font-size: 1.2rem;
  }
}

main {
  padding: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__btn {
  height: 50px;
  justify-content: center;
  border: 0;
  border-radius: 30px;
  padding: 1rem 3rem;
  margin: 1rem 1rem;
  width: 200px;
  background-color: #FF79DA;
  padding: 15px 15px;
  margin: 10px 50px 10px 50px;
  cursor: pointer;
}
.info__btn-btn-text {
  font-size: 0.8rem;
}
.info__btn:hover {
  opacity: 0.8;
}

.steps__btn {
  justify-content: center;
  border: 0;
  border-radius: 30px;
  padding: 1rem 3rem;
  margin: 1rem 1rem;
  width: 400px;
  background-color: #F6F6F6;
  padding: 15px 15px;
  position: relative;
  cursor: pointer;
}
.steps__btn:hover {
  opacity: 0.8;
}
.steps__btn-text {
  font-size: 0.8rem;
  margin-left: 20px;
}
.steps__btn-icon {
  margin-left: 20px;
  width: 40px;
  font-size: 1.1rem;
}
.steps__btn-one {
  border-radius: 55px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}
.card__aside {
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  margin-bottom: 10px;
}
.card__figure img {
  width: 350px;
  object-fit: cover;
}
@media (max-width: 599px) {
  .card__figure img {
    width: 100%;
  }
}
.card__figcaption {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

/**************** LOGO des Pages***************/
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 10vh;
  width: 100%;
}
.logo__text {
  font-size: 4rem;
  font-family: "Shrikhand", cursive;
}
@media (max-width: 599px) {
  .logo__text {
    font-size: 2.5rem;
  }
}

.footer {
  background-color: #353535;
}
.footer__list {
  list-style: none;
}
.footer__list {
  margin-bottom: 10px;
}

/*************     RECHERCHE ***********/
.search {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  height: 2.4rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.search input,
.search i {
  border: none;
  background-color: #EAEAEA;
  height: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 5px;
  align-items: center;
  background-color: #F6F6F6;
  font-size: 2.2rem;
}
@media (max-width: 599px) {
  .info {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
