// button

.btn {
    border:0;
    border-radius: 5px;
    padding: 1rem 2rem;
    min-width: 100px;
    cursor: pointer;
    background-color: $primary-color;
    height: 30px;
    display: flex;
    justify-content: center;
    }
    &:hover {
        opacity: 0.8;
    }


