/****************
      header
*****************/

.logo {
  @include flex-jus-center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;

  h1 {
    padding-left: 20px;
    font-family: $font-title;
    font-size: 2rem;

    @include tablet-portrait {
      font-size: 2.5rem;
    }
  }

  /**********   fleche retour en haut à gauche ******/
  a {
    position: absolute;
    left: 1rem;
    font-size: 1.1rem;
    top: 34px;

    @include tablet-portrait {
      top: 46px;
    }

    color: black;
  }

  /******************************/
  &__text {
    font-size: 2.2rem;
    color: black;

    @include phone-only {
      font-size: 1.4rem;
    }
  }
}

.card__heart__item {
  &--menu {
    top: 27px;
    right: 41px;

    @include phone-only {
      top: 27px;
      right: 32px;
    }

    @include desktop-up {
      top: 42px;
      right: 25px;
    }

    @include big-desktop {
      top: 50px;
      right: 70px;
    }
  }

  // heart rempli

  &--menu-filled {
    opacity: 0;
    transition: opacity 1s;
    background: $gradient-btn;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    right: 41px;
    top: 27px;

    @include phone-only {
      top: 27px;
      right: 32px;
    }

    @include desktop-up {
      top: 42px;
      right: 25px;
    }

    @include big-desktop {
      top: 50px;
      right: 70px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

/****************
      PICTURE
*****************/
.menu__picture img {
  width: 100%;
  object-fit: cover;

  @include tablet-portrait {
    height: 450px;
  }

  @include phone-only {
    height: 300px;
  }

  @include tablet-landscape-up {
    height: 500px;
    object-position: 100% 20%;
  }

  @include desktop-up {
    object-position: 100% 55%;
  }
}

.mainMenu {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  position: relative;
  background-color: $info-color;
  border-radius: 40px 40px 0px 0px;
  margin-top: -80px;

  @include tablet-landscape-up {
    justify-content: space-around;

    span {
      font-size: 1rem;
      margin:5px;
    }
  }
}

.wrapper {
  display: flex;
  flex-flow: column;
  font-weight: 400;

  span {
    font-size: 0.9rem;
  }

  @include desktop-up {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.starter__title {
  font-family: $font-title;
  padding-left: 15px;

  @include desktop-up {
    text-align: center;
    font-size: 2.2rem;
  }
}

/******************************************
    menu   STARTERS - DISHES - DESSERTS
*******************************************/

.card-menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;

  &__subtitle {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    // pour aligner les 3 sections en desktop
    margin-top: 15px;

    //  bande souligné titre green
    &::after {
      content: "";
      padding-bottom: 0.5rem;
      width: 2.5rem;
      border-bottom: $tertiary-color 3px solid;
    }
  }

  &__item {
    display: flex;
  
    flex-direction: row;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    @include box-sh-menu;
    margin-bottom: 15px;

    &__detail {
      flex-grow: 1;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__title {
      font-size: 1rem;
      padding: 10px 5px 0px 10px;
      margin: 0px;
    }

    &__content {
      font-size: 0.9rem;
      padding: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-height: 200px;
      width: 80%;
    }

    &__price {
      align-self: end;
      padding-bottom: 10px;
      font-weight: bold;
      margin-right: 5px;

      @include phone-small {
        font-size: 0.2rem;
      }
    }

    &__icon {
      width: 0%;
      background-color: $tertiary-color;
      @include br-menus-icon;
      //designe la propriete ou l'effet doit être appliqué

      transition: 1s;
      text-align: center;
      justify-content: center;

      i {
        transform: rotate(-360deg);
        transition: 1s;
        margin-top: 28px;
        color: white;
        border-radius: 0px 20px 20px 0px;
      }
    }
  }
}

.card-menu__item:hover {
  .card-menu__item__icon {
    width: 20%;
    background-color: $tertiary-color;

    i {
      transform: rotate(360deg);

      @include desktop-up {
      }
    }
  }
}

// ORDER  BUTTON
.order {
  display: flex;
  justify-content: center;
}
