// MENU GLOBAL
.wrapper {
  animation: fadeIn linear 3s;
  transition-delay: 1ms;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
}

// APPARITION PROGRESSIVE

//
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
