//**** SECTION INFO *********************

.btn {
  &__info {
    height: 60px;
    max-width: 250px;
    align-self: center;
    box-shadow: 0px 5px 8px #cccccc;
    background: $gradient-light;
    z-index: 0;
    font-weight: 400;
    border: 0;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba($color: hsl(317, 68%, 71%), $alpha: 1.4);

    &:hover {
      box-shadow: 0px 5px 5px rgba($color: rgb(214, 203, 212), $alpha: 1.2);
      &:after {
        opacity: 0.2;
      }
    }

    font-size: 1.2rem;
    border-radius: 30px;
    margin: 35px 0px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 15px;
  }
}

//***** SECTION STEPS *******************

.btn-list__item {
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 6px 20px #e6e6e6;
  height: 80px;
  margin-bottom: 25px;
  background-color: $info-color;

  &:hover {
    background-color: $btn-list-hover;
    position: relative;
    cursor: pointer;
  }


  @include tablet-portrait {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
  }

  @include phone-only {
    width: 100%;
  }

  &__button--number {
    border: none;
    color: white;
    height: 21px;
    width: 21px;
    border-radius: 15px;
    background-color: $primary-color;
    position: relative;
    left: -10px;
    padding-top: 2px;
    text-align: center;

    @include tablet-portrait {
      height: 19px;
      width: 19px;
      font-size: 0.8rem;
      left: -9px;
    }
  }

  &__button--icon {
    padding-left: 15px;
    font-size: 1.2rem;
    color: $dark-light-color;
  }

  &__button--text {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 20px;
  }

  &__button--textOne {
    margin-left: 23px;
    font-size: 16px;
    font-weight: 600;
  }
}
