//**** SECTION INFO *********************
  //  button explorer

.btn {
  &__info {
    height: 60px;
    max-width: 250px;
    justify-content: center;
    background: $gradient-light;
    z-index: 0;
    font-weight: 400;
    border: none;
    color: white;
    overflow: hidden;
    border-radius: 30px;
    font-size: 1.2rem;
    margin: 35px 0px;
    cursor: pointer;
    padding: 15px;
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      &:hover {
        box-shadow: 0 0 40px 40px $secondary-color inset;
      }
    
  }
   
  }


//***** SECTION STEPS *******************

.btn-list {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 8px #e6e6e6;
  padding: 20px 0px 20px 0px;
  margin-bottom: 25px;
  height: 88px;

  &:hover {
    background-color: $btn-list-hover;
    position: relative;
    cursor: pointer;
  }

  @include tablet-portrait {
    width: 100%;
  }

  @include phone-only {
    width: 100%;
  }

  &__item--number {
    border: none;
    color: white;
    height: 23px;
    width: 23px;
    border-radius: 15px;
    background-color: $primary-color;
    position: relative;
    left: -10px;
    padding-top: 2px;

    @include tablet-portrait {
      font-size: 1rem;
      left: -10px;
    }
  }

  &__item--icon {
    padding-left: 15px;
    font-size: 1.2rem;
    color: $dark-light-color;

    &:hover {
      color: $primary-color;
      position: relative;
      cursor: pointer;
    }

    i.fa {
      font-size: 0.8rem;
    }
  }

  &__item--text {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 20px;
  }
}