.card {
  display: flex;
  flex-direction: column;
  background-color: $info-color;
  padding: 35px 13px 0px 13px;
  margin-top: 20px;
  h3, p {
    font-size: 1.3rem;
  }

  @include tablet-landscape-up {
    margin-top: -34px;
    h2 {
      margin-top: -15px;
    }
  }

  @include desktop-up {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    background-color: inherit;
    margin-top: -50px;
    h2 {
      display: none;
    }
  }

  &__desktop {
      font-size: 1.8rem;
      text-align: left;

      @include tablet-landscape-up {
        text-align: end;
    }
  }

  &__menu {
    background-color: $white-color;
    border-radius: 20px 20px;
    margin-bottom: 20px;

    @include tablet-landscape-up {
      background-color: $info-color;
      text-align: inherit;
    }
  }

  &__figure img {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    border-radius: 20px 20px 0px 0px;

    @include phone-small {
      max-height: 150px;
    }
  }

  &__caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 5px 10px 20px;
  }

  &__heart {
    padding: 5px 24px 0px 0px;

  }

  &__heart--empty {
    position: relative;
    color: $dark-light-color;
    margin-right: -65px;
    padding-right: 32px;
    font-size: 1.8rem;
  }

  &__heart--color {
    color: $primary-color;
    &:hover {
      transform: scale(1);
    }

    position: relative;
    margin-right: -31px;
    padding-right: 32px;
    font-size: 1.8rem;
  }
}

.card__figure--new {
  display: flex;
  justify-content: center;
  line-height: 2.2rem;
  font-size: 1rem;
  color: $tag-font-color;
  background-color: $tag-font-color;
  background-position: 75% 15%;
  border-radius: 3px;
  position: relative;
  min-width: 100px;
  max-width: 35%;
  top: -185px;
  left: 60%;
  background: lighten($tertiary-color, 10);
  font-weight: bold;

  &:hover {
    background: darken($tag-font-color, $amount: 10);

    @include tablet-portrait {
      max-width: 30%;
    }
  }
}