.card {
  display: flex;
  flex-direction: column;
  background-color: $info-color;
  padding: 35px 13px 0px 13px;
  margin-top: 20px;

  a {
    box-shadow: 0px 5px 8px #e6e6e6;
  }

  &__title {
    font-size: 1.8rem;
    text-align: left;
  }

  &__menu {
    background-color: $white-color;
    border-radius: 20px 20px;
    margin-bottom: 20px;
  }

  &__figure {
    position: relative;
  }

  &__figure img {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    border-radius: 20px 20px 0px 0px;

    @include tablet-landscape-up {
      width: 400px;
    }
  }

  &__caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 5px 10px 20px;
  }

  &__heart {
    position: relative;
    color: black;

    &__item {
      position: absolute;
      background-color: $gradient-light-light;
      transition: opacity 1s;
      top: 7px;
      right: 20px;
      font-size: 1.8rem;

      &--filled {
        opacity: 0;
        transition: opacity 1s;
        background: $gradient-light;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        right: 20px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.card__figure--new {
  display: flex;
  justify-content: center;
  line-height: 2.2rem;
  font-size: 1rem;
  color: $tag-font-color;
  background-color: $tag-font-color;
  background-position: 75% 15%;
  border-radius: 3px;
  position: absolute;
  min-width: 100px;
  max-width: 35%;
  top: 10px;
  right: 20px;
  background: lighten($tertiary-color, 10);
  font-weight: bold;

  &:hover {
    background: darken($tag-font-color, $amount: 10);

    @include tablet-portrait {
      max-width: 30%;
    }
  }
}