.card {
  display: flex;
  flex-direction: column;
  background-color: $info-color;
  padding: 13px;
  margin-left: 10px;
  margin-top: 10px;

  @include tablet-landscape-up {
    margin-top: -34px;
    h2 {
      margin-top: -15px;
    }
  }

  @include desktop-up {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    background-color: inherit;
    margin-top: -50px;
  }

  &__desktop {
    h2 {
      font-size: 3rem;
      text-align: center;

      @include tablet-landscape-up {
        text-align: end;
      }
    }
  }

  &__menu {
    background-color: $white-color;
    border-radius: 20px 20px;
    margin-bottom: 20px;

    @include tablet-landscape-up {
      border-radius: 20px;
      background-color: $info-color;
      text-align: inherit;

    }
  }

  &__figure img {
    width: 100%;
    border-radius: 20px 20px;
    object-fit: cover;
    max-height: 230px;
    border-radius: 20px 20px 0px 0px;

    @include phone-small {
      max-height: 150px;
    }
  }

  h3 {
    color: black;
    font-size: 1.1rem;
    font-weight: 300;

    @include tablet-portrait {
      font-size: 1.5rem;
      line-height: 50px;
    }
  }

  &__caption--heart {
    display: grid;
    grid-template-rows: 12px 70px;
    grid-template-columns: 80px 1fr 40px;
    gap: 15px;
    padding-left: 10px;
    align-items: baseline;

    h2 {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-row-end: 1;
      grid-column-end: 3;
    }

    h3 {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-row-end: 2;
      grid-column-end: 3;
    }

  }

  @include desktop-up;

  @include tablet-landscape-up {
    width: 100%;
    grid-template-rows: 12px 70px;
    grid-template-columns: 80px 1fr 150px;

  }


}