* {
  box-sizing: border-box;
  font-family: $font-text-roboto;

  :root {
    padding: 0px;
    margin: 0px;
  }

  body {
    font-weight: 300;
    min-height: 100vh;

    h1,
    span {
      font-size: 2rem;
      color: black;

      @include tablet-landscape-up {
        font-size: 1.5rem;
      }

      @include phone-only {
        font-size: 1rem;
      }
    }
  }

  img {
    max-width: 100%;
    object-fit: cover;

    @include desktop-up {
      height: 500px;
    }
  }

  ul {
    padding: 0px;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  figure {
    padding: 0px;
    margin: 0px;
  }

  p {
    margin: 0;
    color: black;
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.footer p {
  margin: 0px;
}

.ohmyfood-desktop {
  @include tablet-landscape-up {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 33%;
    
  }
}