.footer__list  {
    background-color: $black-footer;
    font-family: $font-title;
    color: $white-color;
    padding: 10px;
    .footer__details  {
    list-style: none;
    text-decoration: none; 
    font-family: $font-text-roboto;
    }
}

li > a {
    color: white;
}