.footer {
    background-color: $black-footer;
    font-family: $font-title;
    color: $white-color;
    color: white;
    font-family: $font-title;
    line-height: 27px;

    &__title {
        font-size: 1.3rem;
        padding: 10px 0px 7px 20px;
    }

    a {
        color: white;
    }

    p {
        font-family: $font-title;
    }

    ul>li {
        padding-left: 20px;
    }

}