// colors

$primary-color: #9356dc;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$white-color: #ffffff;
$dark-light-color: #7e7e7e;
$black-footer: #353535;
$info-color: #F6F6F6;
$search-dark: #EAEAEA;
$tag-font-color:#158A69;
$btn-list-hover:#F5EDFE;

$gradient-light:linear-gradient(to top, #9356dc, #ff79da);

$gradient-light-light:linear-gradient(to top,  #f7bfe7, #e4dce1);

$gradient-dark: linear-gradient(to top,$tag-font-color, $tertiary-color );
