// colors

$primary-color: #9356dc;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$white-color: #ffffff;
$dark-light-color: #7e7e7e;
$black-footer: #353535;
$info-color: #F6F6F6;
$search-dark: #EAEAEA;





